body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
div.armor {
  display: block;
  div.skills {
    p.box {
      margin: 0 5px 0 5px;
      width: 15px;
      height: 15px;
      display: inline-block;

      border-radius: 4px;
      &[data-value="true"]{
        border: solid 1px #634906;
        background-color: yellow;
      }
      &[data-value="false"]{
        border: solid 1px #634906;
        background-color: lightgray;
      }
    }
  }
  div.icon {
    p {
      display: inline-block;
      height: 40px;
      vertical-align: middle;
    }
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 10px 0 10px;
      background-image: url("./images/MH3-Icons.png");
      background-position-y: 115px;
      border: double 3px black;
      &.helmet {
        background-position-x: 0;
      }
      &.chest {
        background-position-x: -37px;
      }
      &.arms {
        background-position-x: -74px;
      }
      &.waist {
        background-position-x: -112px;
      }
      &.legs {
        background-position-x: -152px;
      }
    }
    .rarity
    {
      &-8 {
        background-color: orange;
      }
      &-7 {
        background-color: purple;
      }
      &-6 {
        background-color: red;
      }
      &-5 {
        background-color: green;
      }
      &-4 {
        
      }
      &-3 {
        
      }
      &-2 {
        
      }
      &-1 {
        
      }
    }
  }  
}